/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.idea
/storage/framework/laravel-excel
/storage/VFCPayment
/storage/*.log
/storage/ReportsKsnb
/storage/ReportsKsnb/*
/storage/Hcns
/storage/Hcns/*
/storage/ViewCpanel/*
/storage/cronjob-logs/*
composer.lock
/storage/Tenancy
/storage/Tenancy/*
/storage/Macom
/storage/Macom/*

