.DS_Store
application/vendor/*
application/cache/*
!application/cache/index.html

uploads/*
application/logs/*
application/config/config.php
application/config/mongo_db.php
application/libraries/Mongo_db.php
!application/logs/index.html

!application/*/.htaccess
system/cache/*
composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*
## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/index.php
