.DS_Store
application/vendor/*
application/cache/*
!application/cache/index.html

application/logs/*
application/config/config.php
application/config/mongo_db.php
application/config/mongo_db_read.php
application/config/mongo_db_read_live.php
application/libraries/Mongo_db.php
!application/logs/index.html

!application/*/.htaccess
system/cache/*
composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/
log/*
application/file/*
application/file_megadoc
application/file_megadoc_pdf
application/log_contract

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
index.php
/application/controllers/cron/captcha.jpg

/application/log_contract
composer.json

/logs/blacklist_property
/logs/blacklist_property/*
