<tr role="row" class="odd parent">
	<td tabindex="0" style="">129</td>
	<td>HĐCC/ĐKXM/HN494TC/2003/08</td>
	<td>Nguyễn Văn Anh1</td>
	<td>Cho vay - Xe Máy</td>
	<td>15.000.000</td>
	<td>03/23/2020</td>
	<td>3</td>
</tr>
<tr class="child">
	<td class="child" colspan="7">
		<ul data-dtr-index="127">
			<li data-dtr-index="7" data-dt-row="127" data-dt-column="7"><span class="dtr-title">Ngày đáo hạn</span>
				<span class="dtr-data">05/11/2020</span></li>
			<li data-dtr-index="8" data-dt-row="127" data-dt-column="8"><span class="dtr-title">Phòng giao dịch</span>
				<span class="dtr-data">494 Trần Cung</span></li>
			<li data-dtr-index="9" data-dt-row="127" data-dt-column="9"><span class="dtr-title">Trạng thái</span> <span
					class="dtr-data">Đang vay</span></li>
			<li data-dtr-index="10" data-dt-row="127" data-dt-column="10"><span class="dtr-title">Ngày đến hạn kỳ gần nhất</span>
				<span class="dtr-data">12/03/2020</span></li>
			<li data-dtr-index="11" data-dt-row="127" data-dt-column="11"><span class="dtr-title">Tiền phải trả</span>
				<span class="dtr-data">1.300.000</span></li>
			<li data-dtr-index="12" data-dt-row="127" data-dt-column="12"><span class="dtr-title">Số ngày trễ</span>
				<span class="dtr-data">45</span></li>
			<li data-dtr-index="13" data-dt-row="127" data-dt-column="13"><span class="dtr-title">Nhóm Bucket</span>
				<span class="dtr-data">B2</span></li>
			<li data-dtr-index="14" data-dt-row="127" data-dt-column="14"><span class="dtr-title">Xem chi tiết</span>
				<span class="dtr-data"><a class="btn btn-info" target="_blank"
										  href="<?php echo base_url();?>accountant/view_v2?id=5e437e3cd6612bc0a67c07c9">
                          <i class="fa fa-lg fa-edit" style="margin-right: 10px;"></i> Chi tiết
                        </a>
                       <a href="javascript:void(0)" onclick="note_thn(this)" data-id="5e437e3cd6612bc0a67c07c9"
						  class="btn btn-info cht_tu_choi"> Ghi chú</a></span></li>
		</ul>
	</td>
</tr>
