<tr role="row" class="even parent">
	<td tabindex="0" style="">30</td>
	<td>HĐCC/ĐKOTO/HN494TC/2003/06</td>
	<td>Nguyễn Thị Hồng Loan</td>
	<td>Cho vay - Ô Tô</td>
	<td>10.000.000</td>
	<td>12/03/2020</td>
	<td>3</td>
</tr>
<tr class="child" >
	<td class="child" colspan="7">
		<ul data-dtr-index="29">
			<li data-dtr-index="7" data-dt-row="29" data-dt-column="7">
				<span class="dtr-title">Ngày đáo hạn</span>
				<span class="dtr-data">09/06/2020</span>
			</li>
			<li data-dtr-index="8" data-dt-row="29" data-dt-column="8">
				<span class="dtr-title">Phòng giao dịch</span>
				<span class="dtr-data">494 Trần Cung</span>
			</li>
			<li data-dtr-index="9" data-dt-row="29" data-dt-column="9">
				<span class="dtr-title">Trạng thái</span>
				<span class="dtr-data">Đã tất toán</span>
			</li>
			<li data-dtr-index="10" data-dt-row="29" data-dt-column="10">
				<span class="dtr-title">Ngày đến hạn kỳ gần nhất</span>
				<span class="dtr-data"></span>
			</li>
			<li data-dtr-index="11" data-dt-row="29" data-dt-column="11">
				<span class="dtr-title">Tiền phải trả</span>
				<span class="dtr-data"></span>
			</li>
			<li data-dtr-index="12" data-dt-row="29" data-dt-column="12">
				<span class="dtr-title">Số ngày trễ</span>
				<span class="dtr-data"></span>
			</li>
			<li data-dtr-index="13" data-dt-row="29" data-dt-column="13">
				<span class="dtr-title">Nhóm Bucket</span>
				<span class="dtr-data">Đã tất toán</span>
			</li>
			<li data-dtr-index="14" data-dt-row="29" data-dt-column="14">
				<span class="dtr-title">Xem chi tiết</span>
				<span class="dtr-data">
					<a class="btn btn-info" target="_blank" href="<?php echo base_url();?>accountant/view_v2?id=5e69b957d6612b490e46e7e0">
                          <i class="fa fa-lg fa-edit" style="margin-right: 10px;"></i> Chi tiết
                        </a>
				    <a href="javascript:void(0)" onclick="note_thn(this)" data-id="5e69b957d6612b490e46e7e0" class="btn btn-info cht_tu_choi"> Ghi chú</a>
				</span>
			</li>
		</ul>
	</td>
</tr>
